*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

Body{
   
    font-family: 'poppins';
    overflow-x: hidden;
}


nav{
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 22% 38% 40%;
    grid-template-rows: 100%;
    box-shadow: 0px 0px 1px black;
    z-index: 4;
    /* border: 1px solid; */


}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.icon1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FF3271;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face{
    position: relative;
    color: white;
    font-size: 11px;
    transition: .2s;
}

.icon1:hover .face{
    transform: rotate(360deg);
}






.logo
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}


.logo img{
    width: 178px;
    margin-right: 10px;

}

.ul-div
{   
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

.ul1
{

    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid ; */


}


.li1{
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.li1 >a{
    font-size: 12.5px;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-weight: 500;
    transition: .4s;
}

.active{
    color: #FF3271 !important;
}


.li1 >a:hover{
  
    color: #FF3271 !important;

}




.ul2{
    position: absolute;
    width: 15%;
    height: 240px;
    top: 100px;
    background-color: #fff;
    border :3px solid#FF3271;
    visibility: hidden;
    /* z-index: -1; */
    
    
}

.li1:hover .ul2{
    top: 75px;
    visibility: visible;
    transition-duration: .5s;

}

.li2{
    position: relative;
    width: 100%;
    height: 40px;

 
}



.li2 >a{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12.5px;
    text-transform: capitalize;
    padding-left:15px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.a2{
    border: none !important;
}


.li2 a:hover{
    transition-delay:.1s ;
    color: #FF3271;    
}


.li2 a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: -1px;
    top: 0;
    z-index: 1;
   background-color: rgba(255, 50, 111, 0.808);
    
}

.li2 a:hover::before{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.angle1{
    position: absolute;
    left: 90%;
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}



.ul2-1{
     position: absolute;
     width: 100%;
     height: 200px;
     border-top: 3px solid #FF3271;
     left: 100%;
     top: 38px;
     background-color: white;
     box-shadow: 0px 0px 2px lightgray;
    visibility: hidden;

}

.li2-1{
    width: 100%;
    height: 40px;
}




.li2:hover .ul2-1{
   visibility: visible;
    top: 0;
    transition: .5s;
}



.ul3{
    position: absolute;
    width: 15%;
    height: 80px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
   
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
}

.li3{
    position: relative;
    width: 100%;
    height: 40px;
}


.li3 a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;

   
    
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
    transition: .5s;
}



.ul4{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    border: 3px solid #FF3271;
    background-color:white;
    visibility: hidden;
}

.li1:hover .ul4{
    visibility: visible;
    top: 75px;
    transition: .5s;
}

.l14{
    position: relative;
    width: 100%;
    height: 40px;

}


.li4 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}



.ul5{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
}


.li1:hover .ul5{
    top: 75px;
    visibility: visible;
    transition: .5s;
}

.li5{
    position: relative;
    width: 100%;
    height: 40px;

}




.li5 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}





.our-blog{
    position: relative;
    width: 100%;
    height: 60vh;
    padding-top: 1px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}



.circle-big{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 30%;
    left: 35.2%;
    border-radius:50%;
    background-color: #FFE991;
    z-index: -1;
}

.our-blog h1{
    font-size: 60px;
    color: #333333;
    text-transform: uppercase;
    
}



.blog{

    width: 95%;
    height: 530vh;
    margin-left: 5%;
    margin-top: 100px;
    display:grid;
    grid-template-columns: repeat(2,62% 38%);
    grid-template-rows: 100%;
    /* border: 1px solid; */
}



/*..............blog1............... */


.blog1-1{
    width: 100%;
    height:124vh ;
    /* border: 1px solid red; */
}

.blog1-3{
    height: 129vh;
}

.imgdiv{
    position: relative;
    width: 100%;
    height:55vh;
   overflow: hidden;
}

 .img1{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img2{
    left: -100%;
    opacity: 0;
}

.imgdiv:hover .img2{
    left: 0;
    opacity: 1;
    transition: .8s;
    cursor:pointer;

}

.imgdiv button{
    position: absolute;
    width: 140px;
    height: 47px;
    left: 0;
    bottom: 0;
    background-color: #FF275F;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border: none;
    outline: none;
}

.megna{
    position: relative;
    width: 100%;
    height: 60vh;
    box-shadow: 0 15px 30px lightgray;
    /* border: 1px solid; */
}

.megna2{
    height: 65vh;
}

.admin{
    position: relative;
    width: 93%;
    height: 12vh;
    left: 3.5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray ;

}

.admin-1{
    position: relative;
    width: 80px;
    height: 5vh;
    display: flex;
    align-items: center;
    color: #555555;
    /* border: 1px solid; */
   
}
.admin-1::after{
    position: absolute;
    content:'';
    width: 1px;
    height: 10px;
    right: 0px;
    top: 13px;
    background-color:lightgray;
   
}

.admin-1 p{
    position: relative;
    font-size: 13px;
    left: 6px;
    
}
.user{
    font-size: 14px;
    position: relative;
    top:3px;
}

.admin-2{
    position: relative;
    width:95px;
    height: 5vh;
    left: 15px;
    display: flex;
    color: #555555;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid; */
   
}
.admin-2::after{
    position: absolute;
    content:'';
    width: 1px;
    height: 10px;
    right: 0;
    top: 13px;
    background-color:lightgray;
   
}

.admin-2 p{
    position: relative;
    font-size: 13px;
    left: 6px;
}
.user{
    font-size: 14px;
}

.admin-3{
    position: relative;
    width:150px;
    height: 5vh;
    left: 30px;
    display: flex;
    color: #555555;
    align-items: center;
    /* border: 1px solid; */
   
}


.admin-3 p{
    position: relative;
    font-size: 13px;
    left: 6px;
}
.user{
    font-size: 14px;
}


.megna h1{
    font-size: 23px;
    margin-left: 3.5%;
    margin-top: 10px;
    color: #333333;
}

.megna h1:hover{
    color: #FF3271;
    text-decoration: underline;
    cursor: pointer;
}

.megna p{
    font-size: 13.5px;
    color: gray;
    margin-left: 3.5%;
    margin-top: 10px;
    line-height: 25px;
} 

.megna button{
    width: 140px;
    height: 45px;
    margin: 15px 3.5%;
    font-size: 12px;
    font-weight: 500;
    border:none;
    outline: none;
    border-radius: 5px;
    background-color: #FF3271;
    color: white;
    transition: .5s;
}

.megna button:hover{
    background-color: #333333;
}

.right{
    margin-left: 10px;
}



.counter{
    width: 39%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
}


.counter1{
    width: 36px;
    height: 36px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 0 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    cursor: pointer;
}

.counter1:hover{
    background-color: #FF275F;
    color: white;
}

.active2{
    background-color: #FF275F;
    color: white;
}

.counter6 i{
    transform: rotate(90deg);
    font-size: 10px;
}






/* ...............blog2............ */








.search-div{
    width: 70%;
    height: 20vh;
    margin-left:15% ;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 1px solid lightgray;
}

 .text{
    width: 80%;
    height: 40px;
    padding-left:15px;
    font-size: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    outline: none;
    transition: .5s;
 }
.text:focus{
    border: 1px solid red;
}


.search{
    position: relative;
    font-size: 12px;
    color: gray;
    right: 25px;
}



.categories-div{
    
    width: 70%;
    height: 45vh;
    margin-left: 15%;
    margin-top: 50px;
    border: 1px solid lightgray;
}


.categories-div h1{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    margin-left: 10%;
    margin-top: 25px;
    text-transform: capitalize;
}

.blog-grid{
    width: 80%;
    height: 8vh;
    margin-left: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.blog-grid i{
    position: relative;
    left: -5px;
}
.blog-grid p{
    font-size: 12.5px;
    margin-left: 5px;
    color: #555555;
    text-transform: capitalize;
    transition: .4s;
    cursor: pointer;
}

.blog-grid p:hover{
    color: #FF3271;
}


.blog-grid2{
    border: none;
}


.recent-post{
    width: 70%;
    height: 88vh;
    margin-top: 50px;
    margin-left: 15%;
    border: 1px solid lightgray;
}

.recent-post h1{
    font-size: 20px;
    color: #333333;
    margin-top: 25px;
    margin-left: 10%;
    font-weight: 500;
}


.post1{
    position: relative;
    width: 80%;
    height: 18vh;
    padding-top:1px ;
    border-bottom: 1px solid lightgray;
    left: 10%;
 
}

.post1 h2{
    font-size: 12px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: .4s;
    cursor: pointer;
}

.post1 h2:hover{
    color: #FF3271;
}

.post1 p{
    font-size: 12px;
    color: gray;
    line-height: 30px;
}

.post1 img{
    position: absolute;
    width: 60px;
    right: 0;
    top: 20px;
}

.post2{
    border: none;
}


.archive{
    width: 70%;
    height: 20vh;
    margin-top: 50px;
    margin-left: 15%;
    border: 1px solid lightgray;
}

.archive h1{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 25px;
    text-transform: capitalize;
    font-weight: 500;
}


.archive1 i{
    position: relative;
    left: -5px;
}


.archive p{
    width: 28%;
    font-size: 12.5px;
    margin-left: 10%;
    margin-top: 15px;
    color: #555555;
    text-transform: capitalize;
    transition: .4s;
    cursor: pointer;
}

.archive1 p:hover{
    color: #FF3271;
}


.popular-tags{
    width: 70%;
    height: 40vh;
    margin-left: 15%;
    margin-top: 50px;
    border: 1px solid lightgray;
}

.popular-tags h1{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 25px;
    text-transform: capitalize;
    font-weight: 500;
}

.popular-tags p{
    position: relative;
    font-size: 11px;
    color: gray;
    left: 7%;
    top: 15px;
    float: left;
    padding: 6px 12px;
    background:#FCFCFC;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: .4s;
}

.popular-tags p:hover{
    background-color: #FF3271;
    color: white;
    border: 1px solid #FF3271;
}


.about{
    width: 70%;
    height: 85vh;
    margin-left: 15%;
    margin-top: 50px;
    border: 1px solid lightgray;
}

.about h1{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 25px;
    text-transform: capitalize;
    font-weight: 500;
}


.about1{
    position: relative;
    width: 80%;
    height:80%;
    left: 10%;
    top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    border: 1px solid lightgray;

}

.about1 img{
    width: 85px;
    border-radius: 50%;
}

.about1 p{
    font-size: 13px;
    color: gray;
    line-height: 25px;
    text-align: center;
}


.about1 button{
    width: 125px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #141414;
    border: 2px solid #141414;
    outline: none;
    transition: .4s;
}

.about1 button:hover{
    background: transparent;
    color: #141414;
   
}




.footer-div{
    padding-top: 1px;
    width: 100%;
    height: 45vh;
    background-color: #F4F9FF;
    
}

footer{
    width: 100%;
    height: 20vh;
    margin-top: 70px;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    /* border: 1px solid; */

}
footer img{
    width: 175px;
}

footer p{
    font-size: 13px;
}

.footer-icon{
    width:40%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border: 1px solid;    */
}


.anglediv{
    position: fixed;
    width: 3.8%;
    height: 11.5vh;
    bottom: 2%;
    left: 95%;
    z-index: 10;
    background-color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ! important;
    cursor: pointer;
}



.up{
    font-size: 23px;
    color: white;
}


.anglediv:hover{
    background-color: #FF3271;
}

