*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

Body{
   
    font-family: 'poppins';
    overflow-x: hidden;
}


nav{
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 22% 38% 40%;
    grid-template-rows: 100%;
    box-shadow: 0px 0px 1px black;
    z-index: 4;
    /* border: 1px solid; */


}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.icon1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FF3271;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face{
    position: relative;
    color: white;
    font-size: 11px;
    transition: .2s;
}

.icon1:hover .face{
    transform: rotate(360deg);
}






.logo
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}


.logo img{
    width: 178px;
    margin-right: 10px;

}

.ul-div
{   
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

.ul1
{

    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid ; */


}


.li1{
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}
.li1 >a{
    font-size: 12.5px;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-weight: 500;
    transition: .4s;
}

.active{
    color: #FF3271 !important;
}


.li1 >a:hover{
  
    color: #FF3271 !important;

}




.ul2{
    position: absolute;
    width: 15%;
    height: 240px;
    top: 100px;
    background-color: #fff;
    border :3px solid#FF3271;
    visibility: hidden;
    /* z-index: -1; */
    
    
}

.li1:hover .ul2{
    top: 75px;
    visibility: visible;
    transition-duration: .5s;

}

.li2{
    position: relative;
    width: 100%;
    height: 40px;

 
}



.li2 >a{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12.5px;
    text-transform: capitalize;
    padding-left:15px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.a2{
    border: none !important;
}


.li2 a:hover{
    transition-delay:.1s ;
    color: #FF3271;    
}


.li2 a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: -1px;
    top: 0;
    z-index: 1;
   background-color: rgba(255, 50, 111, 0.808);
    
}

.li2 a:hover::before{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.angle1{
    position: absolute;
    left: 90%;
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}



.ul2-1{
     position: absolute;
     width: 100%;
     height: 200px;
     border-top: 3px solid #FF3271;
     left: 100%;
     top: 38px;
     background-color: white;
     box-shadow: 0px 0px 2px lightgray;
    visibility: hidden;

}

.li2-1{
    width: 100%;
    height: 40px;
}




.li2:hover .ul2-1{
   visibility: visible;
    top: 0;
    transition: .5s;
}



.ul3{
    position: absolute;
    width: 15%;
    height: 80px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
   
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
}

.li3{
    position: relative;
    width: 100%;
    height: 40px;
}


.li3 a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;

   
    
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
    transition: .5s;
}



.ul4{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    border: 3px solid #FF3271;
    background-color:white;
    visibility: hidden;
}

.li1:hover .ul4{
    visibility: visible;
    top: 75px;
    transition: .5s;
}

.l14{
    position: relative;
    width: 100%;
    height: 40px;

}


.li4 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}



.ul5{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
}


.li1:hover .ul5{
    top: 75px;
    visibility: visible;
    transition: .5s;
}

.li5{
    position: relative;
    width: 100%;
    height: 40px;

}




.li5 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}




.error{
    position: relative;
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error h1{
    position: relative;
    font-size: 240px;
    color: #343434;
}

.error h2{

    font-size: 28px;
    font-weight: 500;
    margin-top: -70px;
    color: #343434;
}

.error p{
    font-size: 15px;
    color: #777777;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}


.button{
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    font-weight:500;
    color: white;
    text-transform: uppercase;
    background:linear-gradient(to right,#FD8EF7,#CB8CFF);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.button i{

    font-size: 18px;
    margin-left: 8px;
}


.button:hover{
    cursor: pointer;
    background:linear-gradient(to left,#FD8EF7,#CB8CFF);
}


.circle-three{
    position: absolute;
    width: 80px;
    right: 10%;
    top: 15%;
}

.circle-two{
    position: absolute;
    width: 95px;
    top: 56%;
    left: 6%;
}

.circle-four{
    position: absolute;
    width:50px;
    left: 28%;
    bottom: 12%;

}

.circle-five{
    position: absolute;
    width: 65px;
    right: 10%;
    bottom: 12%;
}

.big-circle{
    position: absolute;
    width: 240px;
    height: 240px;
    top:24%;
    left: 22%;
    border-radius: 50%;
    background-color: #FFE991;
    z-index: -1;
    overflow: hidden;
    animation: big  18s infinite linear;

}
@keyframes big{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

.big1{
    position: absolute;
    width: 90%;
    height: 90%;
    left: -20%;
    border-radius: 50%;
    background-color: #FFEEAA;

    
}

.big2{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 38%;
    bottom: 40%;
    border-radius: 50%;
    background-color: #FFE26F;
    opacity: .6;
    
}