*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

Body{
   
    font-family: 'poppins';
    overflow-x: hidden;

    
}


nav{
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 24% 72% ;
    grid-template-rows: 100%;
    box-shadow: 0px 0px 1px black;
    z-index: 4;
    /* border: 1px solid; */


}


.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}


.logo img{
    width: 178px;
}

.ul-div
{   
    display: flex;
    justify-content: flex-end;
  
}

.ul1
{

    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    /* border: 1px solid ; */


}


.li1{
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}


.li1 >a{
    font-size: 12.5px;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-weight: 500;
    transition: .4s;
}

.active{
    color: #FF3271 !important;
}


.li1 >a:hover{
  
    color: #FF3271 !important;

}




.ul2{
    position: absolute;
    width: 15%;
    height: 240px;
    top: 100px;
    background-color: #fff;
    border :3px solid#FF3271;
    visibility: hidden;
    /* z-index: -1; */
    
    
}

.li1:hover .ul2{
    top: 75px;
    visibility: visible;
    transition-duration: .5s;

}

.li2{
    position: relative;
    width: 100%;
    height: 40px;

 
}



.li2 >a{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12.5px;
    text-transform: capitalize;
    padding-left:15px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.a2{
    border: none !important;
}


.li2 a:hover{
    transition-delay:.1s ;
    color: #FF3271;    
}


.li2 a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: -1px;
    top: 0;
    z-index: 1;
   background-color: rgba(255, 50, 111, 0.808);
    
}

.li2 a:hover::before{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.angle1{
    position: absolute;
    left: 90%;
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}



.ul2-1{
     position: absolute;
     width: 100%;
     height: 200px;
     border-top: 3px solid #FF3271;
     left: 100%;
     top: 38px;
     background-color: white;
     box-shadow: 0px 0px 2px lightgray;
    visibility: hidden;

}

.li2-1{
    width: 100%;
    height: 40px;
}




.li2:hover .ul2-1{
   visibility: visible;
    top: 0;
    transition: .5s;
}



.ul3{
    position: absolute;
    width: 15%;
    height: 80px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
   
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
}

.li3{
    position: relative;
    width: 100%;
    height: 40px;
}


.li3 a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;

   
    
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
    transition: .5s;
}



.ul4{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    border: 3px solid #FF3271;
    background-color:white;
    visibility: hidden;
}

.li1:hover .ul4{
    visibility: visible;
    top: 75px;
    transition: .5s;
}

.l14{
    position: relative;
    width: 100%;
    height: 40px;

}


.li4 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}



.ul5{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
}


.li1:hover .ul5{
    top: 75px;
    visibility: visible;
    transition: .5s;
}

.li5{
    position: relative;
    width: 100%;
    height: 40px;

}




.li5 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}




.gallery{
    width: 100%;
    height: 500vh;
    display: grid;
    grid-template-rows: repeat(5,20%);
    /* border: 1px solid; */

}





.img1{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('img/1-1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
 
}


.img1 h1{
    position: relative;
    width: 55%;
    height: 15vh;
    box-sizing: border-box;
    font-size: 70px;
    text-transform: uppercase;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    background-color: white;



}



.img1 h1 span{
    color: #E54C4E;
}

.img1 h2{
    position: relative;
    /* left: 100%; */
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    text-transform: capitalize;
}


.img2{
    background-image: url('img/2-1.jpg');
}


.img2 h1{
    width: 52%;
}

.img2 h1 span{
    color:#EFF092 ;
}



.img3{
    background-image: url('img/3-1.jpg');
}


.img3 h1{
    width: 74%;
}

.img3 h1 span{
    color: #0258C5;
}



.img4{
    background-image: url('img/4-1.jpg');
}

.img4 h1{
    width: 46%;
}

.img4 h1 span{
    color:#59E195 ;
}



.img5{
    background-image: url('img/5.jpg');
}


.img5 h1{
    width: 52%;
}

.img5 h1 span{
    color: #C74F99;
}




.footer-div{
    padding-top: 1px;
    width: 100%;
    height: 45vh;
    background-color: #F4F9FF;
    
}

footer{
    width: 100%;
    height: 20vh;
    margin-top: 70px;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    /* border: 1px solid; */

}
footer img{
    width: 175px;
}

footer p{
    font-size: 13px;
}

.footer-icon{
    width:40%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border: 1px solid;    */
}


.icon1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FF3271;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face{
    position: relative;
    color: white;
    font-size: 11px;
    transition: .2s;
}

.icon1:hover .face{
    transform: rotate(360deg);
}





.anglediv{
    position: fixed;
    width: 3.8%;
    height: 11.5vh;
    bottom: 2%;
    left: 95%;
    z-index: 10;
    background-color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ! important;
    cursor: pointer;
}



.up{
    font-size: 23px;
    color: white;
}


.anglediv:hover{
    background-color: #FF3271;
}
