*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

Body{
   
    font-family: 'poppins';
    overflow-x: hidden;
}


nav{
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 22% 38% 40%;
    grid-template-rows: 100%;
    box-shadow: 0px 0px 1px black;
    z-index: 4;
    /* border: 1px solid; */


}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.icon1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FF3271;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face{
    position: relative;
    color: white;
    font-size: 11px;
    transition: .2s;
}

.icon1:hover .face{
    transform: rotate(360deg);
}






.logo
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}


.logo img{
    width: 178px;
    margin-right: 10px;

}

.ul-div
{   
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

.ul1
{

    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid ; */


}


.li1{
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.li1 >a{
    font-size: 12.5px;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-weight: 500;
    transition: .4s;
}

.active{
    color: #FF3271 !important;
}


.li1 >a:hover{
  
    color: #FF3271 !important;

}




.ul2{
    position: absolute;
    width: 15%;
    height: 240px;
    top: 100px;
    background-color: #fff;
    border :3px solid#FF3271;
    visibility: hidden;
    /* z-index: -1; */
    
    
}

.li1:hover .ul2{
    top: 75px;
    visibility: visible;
    transition-duration: .5s;

}

.li2{
    position: relative;
    width: 100%;
    height: 40px;

 
}



.li2 >a{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12.5px;
    text-transform: capitalize;
    padding-left:15px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.a2{
    border: none !important;
}


.li2 a:hover{
    transition-delay:.1s ;
    color: #FF3271;    
}


.li2 a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: -1px;
    top: 0;
    z-index: 1;
   background-color: rgba(255, 50, 111, 0.808);
    
}

.li2 a:hover::before{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.angle1{
    position: absolute;
    left: 90%;
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}



.ul2-1{
     position: absolute;
     width: 100%;
     height: 200px;
     border-top: 3px solid #FF3271;
     left: 100%;
     top: 38px;
     background-color: white;
     box-shadow: 0px 0px 2px lightgray;
    visibility: hidden;

}

.li2-1{
    width: 100%;
    height: 40px;
}




.li2:hover .ul2-1{
   visibility: visible;
    top: 0;
    transition: .5s;
}



.ul3{
    position: absolute;
    width: 15%;
    height: 80px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
   
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
}

.li3{
    position: relative;
    width: 100%;
    height: 40px;
}


.li3 a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;

   
    
}

.li1:hover .ul3{
    visibility: visible;
    top: 75px;
    transition: .5s;
}



.ul4{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    border: 3px solid #FF3271;
    background-color:white;
    visibility: hidden;
}

.li1:hover .ul4{
    visibility: visible;
    top: 75px;
    transition: .5s;
}

.l14{
    position: relative;
    width: 100%;
    height: 40px;

}


.li4 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}



.ul5{
    position: absolute;
    width: 15%;
    height: 200px;
    top: 100px;
    background-color: #fff;
    border: 3px solid #FF3271;
    visibility: hidden;
}


.li1:hover .ul5{
    top: 75px;
    visibility: visible;
    transition: .5s;
}

.li5{
    position: relative;
    width: 100%;
    height: 40px;

}




.li5 a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;

}


.center-masorny{
    position: relative;
    width: 100%;
    height: 60vh;
    padding-top: 1px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}



.circle-big{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 30%;
    left: 24%;
    border-radius:50%;
    background-color: #FFE991;
    z-index: -1;
}

.center-masorny h1{
    font-size: 60px;
    color: #333333;
    text-transform: uppercase;
    
}



.we-create{
    width: 100%;
    height: 260vh;
    display:grid;
    grid-template-rows: repeat(2,33% 55%);
    grid-template-columns: 100%;
    /* border: 1px solid; */
}



.create1 h1{
    font-size: 28px;
    color: #333333;
    line-height: 50px;
    margin-left: 5%;
    margin-top: 110px;
    line-height: 35px;
}

.hr1{
    
    width: 4%;
    margin-left:5%;
    margin-top:10px;
    border-bottom:3px solid #FF3271;
 
}

.p1{
    font-size: 13.5px;
    color: gray;
    margin-left: 5%;
    margin-top: 25px;
    line-height: 25px;
}


.client{
    position: relative;
    width: 15%;
    height: 9vh;
    border-right: 1px solid lightgray;
    left: 5%;
    top: 25px;
    float: left;
    padding-top: 1px;
}


.client p{
    font-size: 11.5px;
    color:gray;
    text-transform: uppercase;
    transition: .4s;
}

.client h2{
    font-size: 13px;
    font-weight: 500;
    color: #555555;
    line-height: 25px;
    margin-top: 5px;
}


.date{
    padding-left: 40px;
    box-sizing: border-box;
    text-align: left;
}

.category{
    padding-left: 50px;
    width: 25%;
}

.follow{
    padding-left: 50px;
    width: 25%;
    border: none;
}

.follow h2{
    word-spacing: 20px;
    cursor: pointer;
}


.gallery{
    position: relative;
    width: 90%;
    height: 150vh;
    left: 5%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,22.9%);
    grid-row-gap:30px ;
    grid-column-gap:30px ;
    /* border: 1px solid; */
}


.img1{
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.img1:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.img1:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}


.img1:nth-child(3){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.img1:nth-child(4){
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}



.img1 img{
    width: 100%;
    height: 100%;
    transition: .6s;
}
.opacity{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    transition: .5s;
    opacity: 0;
}

.img1:hover img{
    transform: rotate(3deg) scale(1.1);
}

.img1:hover .opacity{
  opacity: 1;
}




.footer-div{
    padding-top: 1px;
    width: 100%;
    height: 45vh;
    background-color: #F4F9FF;
    
}

footer{
    width: 100%;
    height: 20vh;
    margin-top: 70px;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    /* border: 1px solid; */

}
footer img{
    width: 175px;
}

footer p{
    font-size: 13px;
}

.footer-icon{
    width:40%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border: 1px solid;    */
}


.anglediv{
    position: fixed;
    width: 3.8%;
    height: 11.5vh;
    bottom: 2%;
    left: 95%;
    z-index: 10;
    background-color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ! important;
    cursor: pointer;
}



.up{
    font-size: 23px;
    color: white;
}


.anglediv:hover{
    background-color: #FF3271;
}
